<h1>Список статей:</h1>
<% @articles.each do |article| %>

	<h2><%= article.title %></h2>
	<p><%= article.text %></p>
	<p>
		<%= link_to "Открыть", article_path(article) %> |
		<%= link_to "Изменить", edit_article_path(article) %> |
		<%= button_to "Удалить", article_path(article), method: :delete, data: { turbo_confirm: "Вы действительно хотите удалить статью?" } %>		
	</p>
<hr/>
<% end %>